


footer {
background:#2e7ccb; 
color: #FFFFFF;
font-size: 12px;
bottom: 0;
position: fixed;
left: 0;
right: 0;
text-align: center;
z-index: 2;
}

footer p {
margin: 10px 0;
}

footer a {
color: #000000;
font-weight: bold;
text-decoration: none;
}
