<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div style="padding-top: 55px;">
    <section class="text-center">
        <h1>MOUT CONSULTING</h1>
        <h1></h1><h1></h1><h1></h1>
    </section>

    <div class="container">
        <div class="row">
            <a class="col-sm-offset-2 col-sm-2 btn btn-primary" style="cursor: pointer" (click)="nextScreen(3)">HOMEPAGE</a>
            <a class="col-sm-2 btn btn-primary" style="cursor: pointer" (click)="nextScreen(0)">ABOUT US</a>
            <a class="col-sm-2 btn btn-primary" style="cursor: pointer" (click)="nextScreen(2)">PROBLEM</a>
            <a class="col-sm-2 btn btn-primary" style="cursor: pointer" (click)="nextScreen(1)">SOLUTION</a>
        </div>
    </div>
</div>
